html {
    background: url(../images/dark_embroidery.png);
    /*background-image: url(../images/iron-throne.jpg);
    background-repeat:no-repeat;*/
    
    
}

#main-img {
    position: fixed;
    margin-left: 300px;
    margin-bottom: 100px;
 
    
    
}

@font-face {
    font-family: "gameofthrones";
    src: url("../images/gameofthrones.ttf");
}

audio {
    display: none;
}

h1, h2, h3, p, #letters-used {
    font-family: "gameofthrones";
    color: aliceblue;

}

h1 {
    text-align: center;
    font-size: 50px;

}

h2, h3, p {
    text-align: center;
}

